.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 0;
  background-color: #b4b4b4;
}

svg {
  font-size: 2rem;
}